.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  /* flex-direction: row; */
  background-color: aqua;
}

.inner {
  display: flex;
  flex-direction: row;
  background-color: brown;
  align-self: center;
}